<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <title>NPS Home</title>
</head>
<body style="background-image: url('imaage.jpg');">
    <h1>NPS Home</h1>
    <form action="{{ url_for('search_results') }}" method="get">
        <label for="state">Select a State:</label>
        <select name="state" id="state">
            <option value="" selected disabled>Select a state</option>
            {% for state in states %}
                <option value="{{ state }}">{{ state }}</option>
            {% endfor %}
        </select>
<br>
        <label for="activity">Select an Activity:</label>
        <select name="activity" id="activity">
            <option value="" selected disabled>Select an activity</option>
            {% for activity in activities %}
                <option value="{{ activity.id }}">{{ activity.name }}</option>
            {% endfor %}
        </select>
<br>
		<label for="user_location">Enter Your Location:</label>
		<input type="text" id="user_location" name="user_location" placeholder="Your starting location">
<br>
<br>
        <button type="submit">Search</button>
    </form>
</body>
</html>

