<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>Parks in {{ state }}</title>
</head>
<body>
    <h1>Parks in {{ state }}</h1>
    <a href="{{ url_for('index') }}">Back to Search</a>
    {% if parks %}
        <ul>
        {% for park in parks %}
        <li><a href="{{ url_for('park_details', parkCode=park.parkCode, user_location=user_location) }}">{{ park.fullName }}</a> - {{ park.states }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No parks found in this state.</p>
    {% endif %}
</body>
</html>


